@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our studio!</h1>
        <p>Work harder & Get stronger
         <a class="nav-link text-dark main-button" asp-area="" asp-page="/FitnessClasses/Index">JOIN our classes! </a></p>
</div>
